<style>
img.cat {
    width:100%;
    max-width: 400px;
    margin: 40px auto 0 auto;
    display:block;
}
</style>
<div class="ui text container">
    <h1 class="ui center aligned header" style="font-size:10rem; margin-top: 5rem;">
    {{#if status }}
        {{ status }}
    {{else}}
        404
    {{/if}}
    </h1>
    <h3 class="ui center aligned header" style="font-size:3rem; margin-top: 10px;">
    {{#if message }}
        {{ message }}
    {{else}}
        Not Found
    {{/if}}
    </h3>
    <div style="text-aligned: center;">
        <img class="cat" src="https://http.cat/{{#if status }}{{ status }}{{else}}404{{/if}}"/>
    </div>
</div>